.company
{
    margin: 16px;
}

.company-card
{
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

.company-cell
{
    padding: 16px;
    border: 1px solid #dddddd;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
}

.company-cell .mdl-list
{
    margin: 0;
}

.company-cell .mdl-list__item
{
    padding: 8px;
}

.mdl-card__supporting-text
{
    width: auto;
    padding-top: 0;
}

.mdl-card__supporting-text h3
{
    font-size: 1.2em;
    line-height: normal;
    margin-top: 8px;
    margin-bottom: 0;
}

.cell-title
{
    text-align: center;

    font-size: 1.5em;
    line-height: normal;
    margin-top: 8px;
    margin-bottom: 8px;

    color: black;
}

.bg-green
{
    color: white;
    background-color: #33cc66;
}

.bg-green:hover
{
    background-color: #55ee88;
}

.bg-red
{
    color: white;
    background-color: #dd5555;
}

.bg-red:hover
{
    background-color: #ff7777;
}

.closed-tag
{
    color: #ee5555;
    background-color: #eeeeee;
    padding: 5px;

    font-weight: bold;
    font-size: 2em;

    transform: translate(-20px, 20px) rotate(6deg);
}

form
{
    margin: 4px;
}

#edit-dialog
{
    width: 50%;
}

#edit-dialog .mdl-textfield
{
    width: 100%;
}

#permission-dialog .mdl-checkbox
{
    margin: 6px;
}

.mdl-button
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.leader-icon
{
    float: left;
    padding-top: 6px;
    margin-right: 12px;

    color: orange;
}

.worker-card
{
    width: 100%;
    max-width: 600px;
    margin: 16px auto auto;
}
