main
{
    background-color: #f0f2ea;
}

p
{
    margin-bottom: 12px;
}

p:last-child
{
    margin-bottom: 0;
}

a.link
{
    color: #0c6;
    text-decoration: none;
    transition: all 0.3s ease-out;
}

a.link:hover
{
    text-decoration: underline;
    color: #5af;
}

img
{
    max-width: 100%;
}

blockquote
{
    margin-top: 0;
    margin-bottom: 12px;
}

.mdl-grid
{
    margin-top: 12px;
}

.mdl-card__actions
{
    display: flex;
}

.error
{
    color: #dd4444;
}

.info
{
    color: #5577ee;
}

.info-card
{
    width: 100%;
    max-width: 1000px;
    margin: auto;

    min-height: 0;
    text-align: center;
}

.info-card-text
{
    width: auto;
}

.contact-input
{
    font-family: "Lucida Console", Monaco, monospace;
    text-transform: uppercase;
}

.small-icon
{
    font-size: 1em;
}

.unread-message
{
    animation: unread-animation 5s;
}

@keyframes unread-animation
{
    0%
    {
        background-color: #dfe;
    }
    60%
    {
        background-color: #dfe;
    }
    100%
    {
        background-color: white;
    }
}

.avatar
{
    width: 32px;
    height: 32px;
    image-rendering: pixelated;
    float: right;
}

.avatar.margin
{
    margin: 15px;
}

.mdl-layout-title
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.large-dialog
{
    width: 25%;
    min-width: 300px;
    margin: auto;
}
