.conversation-grid
{
    margin-top: 0;
}

.message-table
{
    width: 100%;
    max-width: 1000px;
    table-layout: fixed;
    margin: auto;
}

.last-message-col
{
    overflow: hidden;
    text-overflow: ellipsis;
}

.clickable
{
    cursor: pointer;
    height: 100px;
}

.contact-col
{
    width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.unread
{
    background-color: #dfe;
}

.contact
{
    font-size: 1.2em;
    font-weight: bold;
}

.date
{
    color: #888;
}

#show-dialog
{
    text-align: center;
}

.unread-badge
{
    min-width: 0;
    width: 22px;
    height: 22px;
    margin-top: 8px;
    margin-right: 8px;
    float: left;

    font-size: 1em;
    font-weight: bold;

    box-shadow: none;
}

.unread-badge:hover, .unread-badge:active
{
    box-shadow: none;
}

.info-card
{
    width: 100%;
    max-width: 1000px;
    margin: auto;

    min-height: 0;
    text-align: center;
}
