.unread
{
    background-color: #dfe;
}

.unread-badge
{
    min-width: 0;
    width: 22px;
    height: 22px;
    margin-top: 8px;
    margin-right: 8px;
    float: left;

    font-size: 1em;
    font-weight: bold;

    box-shadow: none;
}

.unread-badge:hover, .unread-badge:active
{
    box-shadow: none;
}
