<h3>[@Government]</h3>
<table>
    <tr> <td><a href="company/{@gov_ids}">{@gov_names}</a></td> <td>{@gov_descriptions}</td> </tr>
</table>
<h3>[@Bank]</h3>
<table>
    <tr> <td><a href="company/{@bank_ids}">{@bank_names}</a></td> <td>{@bank_descriptions}</td> </tr>
</table>
<h3>[@Press]</h3>
<table>
    <tr> <td><a href="company/{@press_ids}">{@press_names}</a></td> <td>{@press_descriptions}</td> </tr>
</table>
<h3>[@Others]</h3>
<table>
    <tr> <td><a href="company/{@ids}">{@names}</a></td> <td>{@descriptions}</td> </tr>
</table>
