<p>{@error}</p>
<form method="post">
    <label for="lock">[@New authorization]:</label>
    <select name="lock" id="lock">
        <option value={@lock_ids}>{@lock_names}</option>
    </select>
    <input name="code" type="text" pattern="[A-Za-z\d]{4}"
           placeholder="[@Citizen's code]" id="code" list="contacts" required>
    <datalist id="contacts">
        <option value='{@codes}'>:{@codes}:</option>
    </datalist>
    <button name="submit" type="submit" value="add">[@Add]</button>
    <button name="submit" type="submit" value="remove">[@Remove]</button>
</form>
<br>
<table>
    <tr>
        <th>Type</th>
        <th>Description</th>
        <th>Authorized</th>
    </tr>
    <tr> <td>:{@lock_types}:</td> <td>{@lock_names}</td> <td>{@authorized}</td> </tr>
</table>
