<p>{@error}</p>
<form method="post">
    <label for="code">[@New authorization]:</label>
    <select name="lock" id="lock">
        {@locks}
    </select>
    <input name="code" type="text" pattern="[A-Za-z\d]{4}"
           placeholder="[@Citizen's code]" id="code" list="contacts" required>
    <datalist id="contacts">
        {@codes}
    </datalist>
    <button name="submit" type="submit" value="add">[@Add]</button>
    <button name="submit" type="submit" value="remove">[@Remove]</button>
</form>
<br>
<table>
    <tr>
        <th>Type</th>
        <th>Description</th>
        <th>Authorized</th>
    </tr>
    {@authorized}
</table>
