<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../style.css">
    <title>MCRRP - Connexion</title>
</head>
<body>
<header>
    <h1>Minecraft RRP</h1>
</header>
<h2>Connexion</h2>
<form action="/login" method="post">
    <label for="username">Entrez votre pseudo Minecraft :</label>
    <input name="username" type="text" placeholder="Nom d'utilisateur" id="username" required>
    <button name="submit" type="submit">Se connecter</button>
</form>
</body>
</html>
