<p>{@info}</p>
<p>{@error}</p>
<form method="post">
    <label for="code">[@Make a payment]:</label>
    <select name="receiver" id="receiver" onchange="hideCode()">
        <option value="citizen">[@Citizen]</option>
        <optgroup label="[@State]">
            <option value={@state_ids}>{@state_names}</option>
        </optgroup>
    </select>
    <input name="code" type="text" pattern="[A-Za-z\d]{4}" placeholder="[@Receiver's code]" id="code" list="contacts" required>
    <datalist id="contacts">
        <option value='{@codes}'>:{@codes}:</option>
    </datalist>
    <input name="amount" type="number" step=1 min=1 placeholder="[@Amount]" id="amount" required>
    <input name="description" type="text" placeholder="[@Description]" id="description" required>
    <button name="submit" type="submit">[@Send]</button>
</form>
<br>
<table>
    <tr>
        <th>Date</th>
        <th>Buyer</th>
        <th>Seller</th>
        <th>Amount</th>
        <th>Description</th>
    </tr>
    <tr> <td>{@dates}</td> <td>{@buyers}</td> <td>{@sellers}</td> <td>{@amounts}</td> <td title={@seen}>{@descriptions}</td> </tr>
</table>

<script>
    function hideCode()
    {
        var select = document.getElementById("receiver");
        var value = select.options[select.selectedIndex].value;
        var input = document.getElementById("code");
        if(value === "citizen")
        {
            input.removeAttribute("hidden");
            input.setAttribute("required", "");
        }
        else
        {
            input.removeAttribute("required");
            input.setAttribute("hidden", "");
            input.value = "";
        }
    }
</script>
