<p><img src="https://crafatar.com/avatars/{@uuid}?size=16&overlay"> :{@code}:</p>
<p>[@Code]: {@code}</p>
<p>[@Role]: {@role}</p>
<p>[@Balance]: CHF {@balance}</p>
<p>[@State]: {@state}</p>
<form action="/" method="post">
    <button name="logout">[@Log out]</button>
</form>
<table>
    <tr>
        <td><a href="/">[@News]</a></td>
        <td><a href="/message">[@Messages] ({@msg_count})</a></td>
        <td><a href="/transaction">[@Transactions] ({@transac_count})</a></td>
        <td><a href="/">[@Constitution]</a></td>
    </tr>
</table>
<h2>[@{@title}]</h2>
