{% extends "main.html" %}

{% block drawer %}
    <div class="mdl-layout__drawer">
        <span class="mdl-layout__drawer-button">
            <i class="material-icons
            {% if msg_count + transac_count + request_count > 0 %}
                mdl-badge mdl-badge--overlap" data-badge="{{ msg_count + transac_count + request_count }}
            {% endif %}
            ">menu</i>
        </span>

        <span class="mdl-layout-title">
            <span class="avatar margin" style="background-image: url('/api/avatar/{{ citizen.player }}')"></span>
            :{{ citizen.code }}:
        </span>

        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="/message">
                <i class="material-icons
                    {% if msg_count > 0 %}
                        mdl-badge mdl-badge--overlap" data-badge="{{ msg_count }}
                    {% endif %}
                ">mail</i> Messages</a>
            <a class="mdl-navigation__link" href="/transaction">
                <i class="material-icons
                    {% if transac_count > 0 %}
                        mdl-badge mdl-badge--overlap" data-badge="{{ transac_count }}
                    {% endif %}
                ">attach_money</i> Transactions</a>
            <a class="mdl-navigation__link" href="/lock"><i class="material-icons">lock</i> Locks</a>
            <a class="mdl-navigation__link" href="/employment"><i class="material-icons">work</i> Employment</a>
        </nav>

        <div class="mdl-layout-spacer"></div>

        <ul class="mdl-list">
            <li class="mdl-list__item">
                <code class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">contact_mail</i>
                    {{ citizen.code }}
                </code>
            </li>
            <li class="mdl-list__item">
                <code class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">account_balance_wallet</i>
                    {{ state.currency }} {{ citizen.balance|number_format(0) }}
                </code>
            </li>
        </ul>

        {% if citizen.governor %}
            <span class="mdl-menu__item--full-bleed-divider"></span>

            <span class="mdl-layout-title">{{ state.name }}</span>

            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="/state">
                    <i class="material-icons
                    {% if state_transac_count > 0 %}
                        mdl-badge mdl-badge--overlap" data-badge="{{ state_transac_count }}
                    {% endif %}
                ">attach_money</i> Transactions</a>
                <a class="mdl-navigation__link" href="/request">
                    <i class="material-icons
                    {% if request_count > 0 %}
                        mdl-badge mdl-badge--overlap" data-badge="{{ request_count }}
                    {% endif %}
                ">verified_user</i> Requests</a>
            </nav>

            <div class="mdl-layout-spacer"></div>

            <ul class="mdl-list">
                <li class="mdl-list__item">
                    <code class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">account_balance_wallet</i>
                        {{ state.currency }} {{ state.balance|number_format(0) }}
                    </code>
                </li>
            </ul>
        {% endif %}

        <span class="mdl-menu__item--full-bleed-divider"></span>

        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="/logout">
                <i class="material-icons">exit_to_app</i> Log out</a>
        </nav>
    </div>
{% endblock %}
