{% extends template %}

{% block style %}
    <link rel="stylesheet" href="/res/style/table.css">
    <link rel="stylesheet" href="/res/style/company.css">
{% endblock %}

{% block content %}
    <div class="company">
        <div class="company-card mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">{{ company.name }}</h2>
                {% if company.closed %}
                    <div class="mdl-layout-spacer"></div>
                    <h2 class="mdl-card__title-text closed-tag">CLOSED</h2>
                {% endif %}
            </div>
            <div class="mdl-card__supporting-text">
                <h3>{{ company.description }}</h3>
                <div class="mdl-grid">
                    <div class="company-cell mdl-cell mdl-cell--12-col">
                        <h3 class="cell-title">Presentation</h3>
                        {{ company.presentation|markdown }}
                    </div>
                    <div class="company-cell mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--top">
                        {% if company.leaders is empty %}
                            <h3 class="cell-title">No leaders</h3>
                        {% else %}
                            <h3 class="cell-title">Leader(s)</h3>
                            <ul class="mdl-list">
                                {% for leader in company.leaders %}
                                    <li class="mdl-list__item">
                                        <span class="mdl-list__item-primary-content">
                                            <i class="material-icons mdl-list__item-icon">person</i>
                                            :{{ leader.code }}:
                                        </span>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                    <div class="company-cell mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--order-8">
                        <h3 class="cell-title">Informations</h3>
                        <p>Founded on {{ company.founded|date("j F Y") }} by :{{ company.founder.code }}:.</p>
                        {% if company.closed %}
                            <p>Closed on {{ company.closed|date("j F Y") }}.</p>
                        {% endif %}
                    </div>
                </div>
            </div>

            {% if company.request %}
                <div class="mdl-card__actions mdl-card--border">
                    <div class="mdl-layout-spacer"></div>
                    <form method="post">
                        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised bg-green"
                                name="submit" type="submit" value="accept">Accept
                        </button>
                        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised bg-red"
                                name="submit" type="submit" value="reject">Reject
                        </button>
                    </form>
                </div>
            {% elseif (citizen.governor or citizen.leader) and not company.closed %}
                <div class="mdl-card__actions mdl-card--border">
                    {% if citizen.leader %}
                        <button id="open-edit-dialog"
                                class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--colored">
                            Edit informations
                        </button>
                    {% endif %}
                    {% if citizen.governor %}
                        <button id="open-permission-dialog"
                                class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--colored">
                            Edit permissions
                        </button>
                    {% endif %}
                    <div class="mdl-layout-spacer"></div>
                    <form method="post">
                        <button class="mdl-button mdl-js-button mdl-js-ripple-effect bg-red"
                                name="submit" type="submit" value="close">Close company
                        </button>
                    </form>
                </div>
            {% endif %}
        </div>

        {% if citizen.leader and not company.closed %}
            <div class="worker-card mdl-card mdl-shadow--2dp">
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">Workers</h2>
                    <div class="mdl-layout-spacer"></div>
                    <button id="hire" class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
                        <i class="material-icons">person_add</i>
                    </button>
                    <div class="mdl-tooltip" data-mdl-for="hire">Hire someone</div>
                </div>
                <div class="mdl-card__supporting-text">
                    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                        {% for worker in workers %}
                            <tr>
                                <td class="mdl-data-table__cell--non-numeric">
                                    <div class="row-grid mdl-grid mdl-grid--no-spacing">
                                        <div class="contact-cell mdl-cell mdl-cell--4-col">
                                            {% if worker.leader %}
                                                <i class="material-icons leader-icon">star</i>
                                            {% endif %}
                                            <div class="contact">:{{ worker.citizen.code }}:</div>
                                            <div class="date">since {{ worker.hired|date("j F Y") }}</div>
                                        </div>
                                        <div class="message-cell mdl-cell mdl-cell--8-col mdl-cell--4-col-tablet">
                                            <form method="post">
                                                <label>Actions:</label>
                                                {% if company.leaders|length == 1 and worker.leader %}
                                                    {% set disabled = "disabled" %}
                                                {% else %}
                                                    {% set disabled = "" %}
                                                {% endif %}
                                                <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--colored"
                                                        name="submit" type="submit" value="promote" {{ disabled }}>
                                                    {{ worker.leader ? "Demote" : "Promote" }}
                                                </button>
                                                <button class="mdl-button mdl-js-button mdl-js-ripple-effect bg-red"
                                                        name="submit" type="submit" value="dismiss" {{ disabled }}>
                                                    Dismiss
                                                </button>
                                                <input type="hidden" name="worker" value="{{ worker.id }}">
                                            </form>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        {% endif %}
    </div>

    {% if citizen.leader and not company.closed %}
        <dialog id="hire-dialog" class="mdl-dialog">
            <h4 class="mdl-dialog__title">Hire someone</h4>
            <form method="post">
                <div class="mdl-dialog__content">
                    {% include "util/contactfield.html" %}
                </div>
                <div class="mdl-dialog__actions">
                    <button class="mdl-button" name="submit" type="submit" value="hire">Hire</button>
                    <button class="mdl-button close" type="button">Cancel</button>
                </div>
            </form>
        </dialog>

        <script>
            var hireDialog = document.querySelector("#hire-dialog");
            var hireDialogButton = document.querySelector("#hire");
            if(!hireDialog.showModal)
                dialogPolyfill.registerDialog(hireDialog);

            hireDialogButton.addEventListener("click", function() {
                hireDialog.showModal();
            });
            hireDialog.querySelector(".close").addEventListener("click", function() {
                hireDialog.close();
            });
        </script>

        <dialog id="edit-dialog" class="mdl-dialog large-dialog">
            <h4 class="mdl-dialog__title">Edit informations</h4>
            <form method="post">
                <div class="mdl-dialog__content">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" name="name" type="text" id="name" required
                               value="{{ company.name }}">
                        <label class="mdl-textfield__label" for="name">Company name</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" name="description" type="text" id="description" required
                               value="{{ company.description }}">
                        <label class="mdl-textfield__label" for="description">Short description</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" name="profession" type="text" id="profession" required
                               value="{{ company.profession }}">
                        <label class="mdl-textfield__label" for="profession">Profession</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <textarea id="presentation" name="presentation" class="mdl-textfield__input" rows=10
                                  required>{{ company.presentation }}</textarea>
                        <label class="mdl-textfield__label" for="presentation">Presentation</label>
                    </div>
                </div>
                <div class="mdl-dialog__actions">
                    <button class="mdl-button" name="submit" type="submit" value="edit">Save</button>
                    <button class="mdl-button close" type="button">Cancel</button>
                </div>
            </form>
        </dialog>

        <script>
            var editDialog = document.querySelector("#edit-dialog");
            var editDialogButton = document.querySelector("#open-edit-dialog");
            if(!editDialog.showModal)
                dialogPolyfill.registerDialog(editDialog);

            editDialogButton.addEventListener("click", function() {
                editDialog.showModal();
            });
            editDialog.querySelector(".close").addEventListener("click", function() {
                editDialog.close();
            });
        </script>
    {% endif %}

    {% if citizen.governor and not company.closed %}
        <dialog id="permission-dialog" class="mdl-dialog large-dialog">
            <h4 class="mdl-dialog__title">Edit permissions</h4>
            <form method="post">
                <div class="mdl-dialog__content">
                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="government">
                        <input type="checkbox" id="government" name="government" class="mdl-checkbox__input"
                                {{ company.government ? "checked" : "" }}>
                        <span class="mdl-checkbox__label">Government</span>
                    </label>
                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="bank">
                        <input type="checkbox" id="bank" name="bank" class="mdl-checkbox__input"
                                {{ company.bank ? "checked" : "" }}>
                        <span class="mdl-checkbox__label">Bank</span>
                    </label>
                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="press">
                        <input type="checkbox" id="press" name="press" class="mdl-checkbox__input"
                                {{ company.press ? "checked" : "" }}>
                        <span class="mdl-checkbox__label">Press</span>
                    </label>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <textarea id="materials" name="materials" class="mdl-textfield__input"
                                  rows=5>{% for material in company.materials %}:{{ material }}:&#13;&#10;{% endfor %}</textarea>
                        <label class="mdl-textfield__label" for="materials">Craftable materials</label>
                    </div>
                </div>
                <div class="mdl-dialog__actions">
                    <button class="mdl-button" name="submit" type="submit" value="permission">Save</button>
                    <button class="mdl-button close" type="button">Cancel</button>
                </div>
            </form>
        </dialog>

        <script>
            var permissionDialog = document.querySelector("#permission-dialog");
            var permissionDialogButton = document.querySelector("#open-permission-dialog");
            if(!permissionDialog.showModal)
                dialogPolyfill.registerDialog(permissionDialog);

            permissionDialogButton.addEventListener("click", function() {
                permissionDialog.showModal();
            });
            permissionDialog.querySelector(".close").addEventListener("click", function() {
                permissionDialog.close();
            });
        </script>
    {% endif %}
{% endblock %}
