{% extends template %}

{% block style %}
    <link rel="stylesheet" href="/res/style/table.css">
    <link rel="stylesheet" href="/res/style/employment.css">
{% endblock %}

{% block content %}
    <dialog class="mdl-dialog large-dialog">
        <h4 class="mdl-dialog__title">Found a company</h4>
        <form method="post">
            <div class="mdl-dialog__content">
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" name="name" type="text" id="name" required>
                    <label class="mdl-textfield__label" for="name">Company name</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" name="description" type="text" id="description" required>
                    <label class="mdl-textfield__label" for="description">Short description</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield message-input">
                    <textarea id="presentation" name="presentation" class="mdl-textfield__input"
                              rows=5 required></textarea>
                    <label class="mdl-textfield__label" for="presentation">Presentation</label>
                </div>
            </div>
            <div class="mdl-dialog__actions">
                <button class="mdl-button" name="submit" type="submit">Send request</button>
                <button class="mdl-button close">Cancel</button>
            </div>
        </form>
    </dialog>

    <div class="table-grid mdl-grid">
        {% include "util/addbutton.html" with {"tooltip": "New company"} %}

        <div class="mdl-cell mdl-cell--12-col">
            {% if employment is empty %}
                {% include "util/infobox.html" with {"info": "No companies." } %}
            {% else %}
                {% for type, companies in employment %}
                    <h4 class="company-title{{ loop.first ? " first" : "" }}">{{ type|capitalize }}</h4>
                    {% if companies is empty %}
                        {% include "util/infobox.html" with {"info": "No " ~ type ~ "." } %}
                    {% else %}
                        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                            {% for company in companies %}
                                <tr class="clickable" onclick="location.href = 'company/{{ company.id }}'">
                                    <td class="mdl-data-table__cell--non-numeric">
                                        <div class="row-grid mdl-grid mdl-grid--no-spacing">
                                            <div class="contact-cell mdl-cell mdl-cell--4-col">
                                                <div class="contact">{{ company.name }}</div>
                                                <div class="date">{{ company.founded|date("F Y") }}</div>
                                            </div>
                                            <div class="message-cell mdl-cell mdl-cell--8-col mdl-cell--4-col-tablet">
                                                <div class="message-body">{{ company.description }}</div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}
