{% extends template %}

{% block style %}
    <link rel="stylesheet" href="/res/style/table.css">
    <link rel="stylesheet" href="/res/style/lock.css">
{% endblock %}

{% block content %}
    <div class="table-grid mdl-grid">
        <div class="mdl-cell mdl-cell--12-col">
            {% if locks is empty %}
                {% include "util/infobox.html" with {"info": "No locks." } %}
            {% else %}
                <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                    {% for lock in locks %}
                        <tr>
                            <td class="mdl-data-table__cell--non-numeric">
                                <div class="row-grid mdl-grid mdl-grid--no-spacing">
                                    <div class="contact-cell mdl-cell mdl-cell--4-col">
                                        <div id="icon-{{ lock.id }}" class="lock-type"
                                             style="background-image: url('api/icon/{{ lock.type }}')">
                                        </div>

                                        <div class="mdl-tooltip mdl-tooltip--left" data-mdl-for="icon-{{ lock.id }}">
                                            :{{ lock.type }}:
                                        </div>

                                        <div class="lock-name contact">{{ lock.name }}</div>
                                    </div>

                                    <div class="message-cell mdl-cell mdl-cell--8-col mdl-cell--4-col-tablet">
                                        <div class="chips" id="chips-{{ lock.id }}">
                                            {% for citizen in lock.authorized %}
                                                <form method="post" class="mdl-chip mdl-chip--deletable">
                                                    <span class="mdl-chip__text">:@{{ citizen.code }}:</span>
                                                    <button type="submit" name="submit" value="remove"
                                                            class="mdl-chip__action">
                                                        <i class="material-icons">cancel</i>
                                                    </button>
                                                    <input type="hidden" name="lock" value="{{ lock.id }}">
                                                    <input type="hidden" name="code" value="{{ citizen.code }}">
                                                </form>
                                            {% else %}
                                                <span class="nobody">Nobody is authorized.</span>
                                            {% endfor %}
                                        </div>

                                        <form method="post"
                                              class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
                                            <label class="mdl-button mdl-js-button mdl-button--icon mdl-button--fab"
                                                   for="code-{{ lock.id }}">
                                                <i class="material-icons">add</i>
                                            </label>

                                            {% include "util/contactfield.html"
                                            with {"id": lock.id, "expandable": true, "script": loop.first } %}

                                            <input type="hidden" name="lock" value="{{ lock.id }}">
                                            <input type="hidden" name="submit" value="add">
                                        </form>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        </div>
    </div>
{% endblock %}
