{% extends template %}

{% block style %}
    <link rel="stylesheet" href="/res/style/table.css">
    <link rel="stylesheet" href="/res/style/transaction.css">
{% endblock %}

{% block content %}
    <dialog class="mdl-dialog large-dialog">
        <h4 class="mdl-dialog__title">Make a payment</h4>
        <form method="post">
            <div class="mdl-dialog__content">

                <label for="receiver">[@Receiver]:</label>
                <br>
                <div class="mdl-textfield mdl-js-textfield">
                    <select class="mdl-textfield__input" name="receiver" id="receiver" onchange="hideCode()">
                        <option value="citizen">[@Citizen]</option>
                        <optgroup label="[@State]">
                            {% for state in states %}
                                <option value={{ state.id }}>{{ state.name }}</option>
                            {% endfor %}
                        </optgroup>
                    </select>
                </div>
                <br>

                {% include "util/contactfield.html" %}
                <br>

                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" name="amount" type="number" step=1
                           min=1 max={{ citizen.balance }} id="amount" required>
                    <label class="mdl-textfield__label" for="amount">Amount</label>
                </div>

                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" name="description" type="text" id="description" required>
                    <label class="mdl-textfield__label" for="description">Description</label>
                </div>
            </div>

            <div class="mdl-dialog__actions">
                <button class="mdl-button" name="submit" type="submit">Send</button>
                <button class="mdl-button close" type="button">Cancel</button>
            </div>
        </form>
    </dialog>

    <div class="table-grid mdl-grid">
        {% include "util/addbutton.html" with {"tooltip": "New transaction"} %}

        <div class="mdl-cell mdl-cell--12-col">
            {% if transactions is empty %}
                {% include "util/infobox.html" with {"info": "No transactions." } %}
            {% else %}
                <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                    {% for transaction in transactions %}
                        <tr>
                            <td class="mdl-data-table__cell--non-numeric">
                                <div class="row-grid mdl-grid mdl-grid--no-spacing">

                                    <div id="{{ transaction.id }}" class="contact-cell mdl-cell mdl-cell--4-col
                                            {{ transaction.bought ? "red-cell" : "blue-cell" }}">
                                        <div class="amount {{ transaction.bought ? "red-text" : "blue-text" }}">
                                                <span class="arrow-icon">
                                                    {{ transaction.bought ? ":icon_back:" : ":icon_forward:" }}
                                                </span>
                                            {{ transaction.buyer.currency }}
                                            {{ transaction.amount|number_format(0) }}
                                        </div>
                                        <div class="contact">
                                            {% if transaction.bought %}
                                                {% if transaction.seller_state %}
                                                    [@State]: {{ transaction.seller.name }}
                                                {% else %}
                                                    :{{ transaction.seller.code }}:
                                                {% endif %}
                                            {% else %}
                                                {% if transaction.buyer_state %}
                                                    [@State]: {{ transaction.buyer.name }}
                                                {% else %}
                                                    :{{ transaction.buyer.code }}:
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                        <div class="date">{{ transaction.date }}</div>
                                    </div>

                                    <div class="mdl-tooltip mdl-tooltip--right" data-mdl-for="{{ transaction.id }}">
                                        sent: {{ transaction.timestamp|date("j F Y, H:i") }}
                                        {% if transaction.seen %}
                                            <br>seen: {{ transaction.seen|date("j F Y, H:i") }}
                                        {% endif %}
                                    </div>

                                    <div class="message-cell mdl-cell mdl-cell--8-col mdl-cell--4-col-tablet
                                            {% if not transaction.bought and not transaction.seen %}
                                                unread-message
                                            {% endif %}">
                                        {% if transaction.bought %}
                                            <div class="message-icon">
                                                {{ transaction.seen ? ":icon_seen:" : ":icon_sent:" }}
                                            </div>
                                        {% endif %}
                                        <div class="description">{{ transaction.description }}</div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        </div>
    </div>

    <script>
        function hideCode()
        {
            var select = document.getElementById("receiver");
            var value = select.options[select.selectedIndex].value;
            var field = document.getElementById("code-field");
            var input = document.getElementById("code");
            if(value === "citizen")
            {
                field.removeAttribute("hidden");
                input.setAttribute("required", "");
            }
            else
            {
                field.setAttribute("hidden", "");
                input.removeAttribute("required");
                input.value = "";
            }
        }
    </script>
{% endblock %}
